footer {
  bottom: 0;
  display: flex;
  position: fixed;
  width: 100%;
}

#quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-sidecolumn {
  width: 25%;
  position: relative;
}
.footer-centercolumn {
  width: 50%;
}
